@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Questrial&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #010506;
}

a{
    text-decoration: none;
}

.logo{
    padding: 20px 15px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 130%;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0;
    background-color:#010506;
}

.nav-list {
    width: 45%;
    background-color: #010506;
    display: flex;
    text-align: right;
}

.nav-list li {
    list-style: none;
    padding: 10px 25px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}

.nav-list li a{
    text-decoration: none;
    color: #f8c25c;
}
.nav-list li a:hover{
    text-decoration: none;
    color: #EEF8F7 ;
}
  
.navImage{
    width: 50%;
    background-color: #010506;
}


.box-main {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Questrial', sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstSection{
    height: 90vh;
    background-color: #010506;
  
}

.main{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #EEF8F7;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 4%;
    top: 15px

}

.line{
    width: 30px;
    background-color: #f8c25c;
    height: 3px;
    margin: 5px 2px;
}

.footext{
    background-color: #010506;
    color: #f8c25c;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    text-align: center; 
    padding: 40px 40px;
}
